*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: monospace;
}
body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: #b3dcd1;
}
.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 11px;
  background: #7fbeaf;
  padding: 40px 60px;
}
h2{
  font-size: 3em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.rest{
  padding: 15px 20px;
  color: #7fbeaf;
  background: #fff;
  border: none;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}
.rest:focus{
  color:#fff ;
  background: #7fbeaf
}
.game{
  width: 450px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}
.item{
  position: relative;
  width: 40px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  background: white;
  transform:  rotateY(180deg);
  transition: 0.25s;
}
.item.boxOpen{
  transform: rotateY(0deg);
}
.item::after{
  content: '';
  position: absolute;
  inset:0;
  background: #b3dcd1;
/*  opacity: 0.85;*/
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}
.boxOpen:after,
.boxMatch:after{
  transform:  rotateY(180deg);
}
